:root {
  --background-color: #f8f9fa;
  --text-color: #7C4D30;
  --heading-color: #66CDAD;
  --article-background: rgba(0, 0, 0, 0.7);
  --heading-color-2: #F8D12A;
}

body {
  font-family: 'Merriweather', sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  max-width: 1200px;
  margin: 0 auto; 
  padding: 20px;
}

h2 {
  color: var(--heading-color);
}

h1 {
  color: #F8D12A;
  font-size: 2.5em;
  margin-bottom: 20px;
}

h2 {
  font-size: 2em; 
  margin-top: 40px; 
  margin-bottom: 15px;
}
p {
  font-size: 1.1em; 
  margin-bottom: 10px;
}

nav a {
  color: var(--text-color);
  text-decoration: none; 
}

nav a:hover {
  text-decoration: underline; 
}

footer {
  margin-top: 40px;
  padding: 10px 0;
  border-top: 1px solid #ddd; 
  
}

footer p {
  color: var(--heading-color); 
}

.sociallinks a {
  margin: 0 10px; 
  text-decoration: none; 
}

.hero {
  position: relative;
  height: 100vh;
  background-image: url('path/to/your/hero-image.jpg');
  background-size: cover;
  background-position: center; 
  color: white;
  text-align: start;
}

.hero h1 {
  position: absolute;
  top: -1%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--article-background);
  padding: 10px;
}

article {
  position: fixed;
  bottom: 140px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--article-background);
  padding: 20px;
  border-radius: 10px;
  max-width: 900px;
  color: white;
}

article img {
  float: right;
  margin-left: 15px;
  max-width: 300px; 
  border-radius: 5%;
}
